body {
  font-family: 'Roboto', sans-serif;
 
background: linear-gradient(90deg, #2980b9, #6dd5fa);

  color: black;
  margin: 0;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
}

.container {
  max-width: 800px;
  width: 100%;
}

h1 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
  font-family: 'Orbitron', sans-serif;
}

.iot-icon {
   width: 60px;
  height: 60px;
  vertical-align: middle;
  margin-right: 0.5rem;
  border-radius: 8px;
}

.subtitle {
  font-size: 1.2rem;
  color: black;
  margin-bottom: 2rem;
  font-style: italic;
}

.blogs {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.blog-card {
  background-color: rgba(255, 255, 255, 0.05);
  padding: 1rem 1.5rem;
  border-radius: 12px;
  text-decoration: none;
  color: black;
  transition: 0.3s ease;
  backdrop-filter: blur(5px);
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}

.blog-card:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transform: scale(1.03);
}


.tooltip-container {
  position: fixed;
  bottom: 8px;
  right: 12px;
  font-size: 0.7rem;
  z-index: 999;
}

.info-icon {
  cursor: help;
  color: rgba(255, 255, 255, 0.3);
}

.tooltip-text {
  display: none;
  position: absolute;
  bottom: 120%;
  right: 0;
  background-color: rgba(33, 33, 33, 0.9);
  color: #fff;
  padding: 0.4rem 0.6rem;
  border-radius: 5px;
  font-size: 0.65rem;
  white-space: nowrap;
  box-shadow: 0 2px 8px rgba(0,0,0,0.4);
}

.tooltip-container:hover .tooltip-text {
  display: block;
}

.tooltip-text a {
  color: #2217f8;
  text-decoration: none;
}

.tooltip-text a:hover {
  text-decoration: underline;
}

.blogs .blog-card {
  margin-bottom: 1.2rem;
}

.blogs .blog-card a {
  text-decoration: none;
  color: black;  /* teal-ish */
  font-weight: bold;
  display: inline-block;
}

.blogs .blog-card a:hover {
  color: #1f4f4f;
}

.blog-summary {
  max-height: 0;
  opacity: 0;
  transition: all 0.4s ease;
  overflow: hidden;
  color: #4b4b4b;
  font-style: italic;
  font-size: 0.9rem;
  margin-left: 1rem;
}

.blog-card:hover .blog-summary {
  max-height: 200px;
  opacity: 1;
}
